[submodule "roles/ssh-tor"]
	path = roles/ssh_tor
	url = https://github.com/einfachit/ansible-role-ssh-tor
	update = merge
        ignore = dirty
[submodule "roles/users"]
	path = roles/users
	url = git@github.com:einfachIT/ansible-role-users.git
	update = merge
        ignore = dirty
