---
dependency:
  name: galaxy
driver:
  name: docker
lint: |
  set -e
  yamllint .
  ansible-lint
platforms:
  - name: raspbian
    image: ${SYNC_SERVER_IMAGE:-"balenalib/raspberrypi4-64-debian-python"}
provisioner:
  name: ansible
  inventory:
    host_vars:
      raspbian:
        docker_expose_api: False
  config_options:
    defaults:
      remote_tmp: /tmp/.ansible
verifier:
  name: ansible
