[Unit]
Description=runs update service weekly
Wants=network-online.target
After=network-online.target

[Timer]
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
